<%- include('../header.ejs') %>

<form action="/skills" method="POST" autocomplete="off">
    <input type="number" name="unit" placeholder="Unit">
    <input type="text" name="section_name" placeholder="Section Name">
    <input type="text" name="img" placeholder="Image URL">
    <button type="submit">Save Skill</button>
</form>

</body>